_build_
.lock-wscript
*.pyc
*.swp
*~
waf-lightc
[0-9][0-9][0-9][0-9]-*.patch
*.orig
*.rej
\#*\#
!debian/xmms2-plugin-*.*
debian/xmms2
debian/xmms2-plugin-*
debian/*.log
debian/*.substvars
debian/*.debhelper
install-*
_build_*
build-*
debian/files
debian/libaudio-xmmsclient-perl/
debian/libxmmsclient++-dev/
debian/libxmmsclient++-glib-dev/
debian/libxmmsclient++-glib1/
debian/libxmmsclient++3/
debian/libxmmsclient-dev/
debian/libxmmsclient-glib-dev/
debian/libxmmsclient-glib1/
debian/libxmmsclient-ruby/
debian/libxmmsclient-ruby1.8/
debian/libxmmsclient5/
debian/python-xmmsclient/
debian/tmp/
debian/xmms2-client-avahi/
debian/xmms2-client-cli/
debian/xmms2-client-medialib-updater/
debian/xmms2-client-nycli/
debian/xmms2-client-vis/
debian/xmms2-core/
debian/xmms2-dev/
debian/xmms2-et/
